.movie {
  display: flex;
  justify-content: center;
}
.movie-thumb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  max-width: 200px;
  max-height: 350px;
  background-color: #ffffff;
  border-radius: 10px;
  align-items: center;
}
.movie-thumb img {
  width: 90%;
  height: auto;
  padding: 10px;
  border-radius: 20px;
}
.movie-buttom {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.movie-thumb:hover {
  background-color: #f1f1f1;
  transition: all 0.3s ease;
}
p {
  font-size: 14px;
  margin: 0;
  line-height: 0;
}
